/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 May, 2021, 4:28:17 PM
    Author     : 19002765
*/

body{
    margin: 0;
    padding: 0;
    background: url(../images/adviceBackground.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,1,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    filter: blur(0px);
    -webkit-filter: blur(0px);

}


.logo{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    
}
.box h1{
    font-size: 40px;;
    letter-spacing: 4px;
    font-weight: 100%;
   
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100%;
    color: white;
}
.box p {
    text-align: justify;
}

 